Python implementation: CPython
Python version       : 3.10.11
IPython version      : 8.15.0

pandas     : 2.1.4
numpy      : 1.23.5
matplotlib : 3.8.2
seaborn    : 0.12.2
plotly     : 5.9.0
iterstrat  : 0.1.6
sklearn    : 1.3.2
catboost   : 1.2.2
xgboost    : 1.7.3
lightgbm   : 3.3.5
statsmodels: 0.14.0
streamlit  : 1.29.0
# Importing Libraries and Modules
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
!pip install catboost
!pip install iterative-stratification
from collections import Counter
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, accuracy_score, recall_score, classification_report, confusion_matrix, RocCurveDisplay,  hamming_loss, f1_score, roc_curve, auc, precision_recall_curve, average_precision_score
from sklearn.metrics import make_scorer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from random import randint
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold


Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
CPU cores   : 4
Architecture: 64bit
